@mixin input-desing{
    border: 1px solid #ccc;
            padding: 10px 15px;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            outline: none;
}