@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import '_reset.scss';
@import '_variable.scss';
@import '_mixin.scss';

body{
  font-family: 'Poppins', sans-serif;
}

header{
    .img-box{
        width: 150px;
    }
    .nav-items{
        .nav-item{
            color: $--dark !important;
            font-weight: 500;
        }
    }
}
.categories{
    .category{
        h1{
            color: $--dark;
            font-size: 20px;
            font-weight: 900;
        }
        p{ 
            font-size: 15px;
            font-weight: 600;
        }
    }
}
.signup-head,
.signin-head{
   h1{
    font-size: 30px;
    font-weight: 700;
    text-align:center ;

   }
}

.signUp-form{
    .form-box{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        input{
           @include input-desing;
        }
    }
    .button-box{
        .signup-button{
            background-color: rgb(27, 27, 173);
            color: #fff;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            padding: 8px 10px;
            border: none;
            width: 100%;
        }
    }
}

.signin {
    .form-box{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        input{
            @include input-desing;
            width: 100%;
        }
    }
    .button-box{
        display: flex;
        gap: 20px;
        .signin-button{
            margin-top: 20px;
            background-color: rgb(163, 6, 6);
            color: #fff;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            padding: 8px 10px;
            border: none;
            width: 100%;
        }
        .sign-in-popup{
            margin-top: 20px;
            background-color: black;
            color: #fff;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
            padding: 8px 10px;
            border: none;
            width: 100%;
        }
    }
}

.card-icon-container {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .shopping-card-icon {
      width: 24px;
      height: 24px;
    }
    .count-item {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 10px;
    }
  }
  .cart-dropdown-container {
    position: absolute;
    width: 240px;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid black;
    background-color: white;
    top: 90px;
    right: 40px;
    z-index: 5;
  
    .empty-message {
      font-size: 18px;
      margin: 50px auto;
    }
    .cart-items {
      height: 240px;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }
    .payment {
      margin-top: auto;
      background-color: $--dark;
      color: #fff;
      border: none;
      padding: 5px 10px;
    }
  }
  
  .cart-item-container {
    width: 100%;
    display: flex;
    height: 80px;
    margin-bottom: 15px;
  
    img {
      width: 30%;
    }
  
    .item-details {
      width: 70%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding: 10px 20px;
  
      .name {
        font-size: 16px;
      }
    }
  }
  .checkout-container {
    width: 55%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px auto 0;
  
    .checkout-header {
      width: 100%;
      padding: 10px 0;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid darkgrey;
  
      .header-block {
        text-transform: capitalize;
        width: 23%;
  
        &:last-child {
          width: 8%;
        }
      }
    }
  
    .total {
      margin-top: 30px;
      margin-left: auto;
      font-size: 36px;
    }
  }
  .checkout-item-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100px;
    border-bottom: 1px solid darkgrey;
    padding: 15px 0;
    font-size: 20px;
    align-items: center;
  
    .image-container {
      width: 15%;
      padding-right: 15px;
  
      img {
        width: 100%;
        height: 100%;
      }
    }
    .name{
      font-size: 16px;
      white-space: nowrap;
    }
    .name,
    .quantity,
    .price {
      width: 23%;
    }
  
    .quantity {
      display: flex;
  
      .arrow {
        cursor: pointer;
      }
  
      .value {
        margin: 0 10px;
      }
    }
  
    .remove-button {
      padding-left: 12px;
      cursor: pointer;
    }
  }
  .products{
    .image-box{
      height: 200px;
      img{
        height: 100%;
      }
    }
    .product-button{
      background: black;
      color: #fff;
      border: none;
      padding: 5px 20px;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }
  }